.container{    
    display:flex;
    justify-content: center;
    align-items: center;
    padding:0.7rem;
    gap:5px;    
}
.wrap{
    gap:15px;
}
.list{
    flex-direction: column;    
}
.grid{
    display:grid;
    grid-template-columns: auto;
    grid-template-rows: auto;    
}
.border{
    border:1px solid lightgray;
    border-radius: 3px;
}
.center{
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
    text-align: center;    
}
.left{
    align-self: flex-start;
    text-align: left;
    justify-content: flex-start;
    align-items: flex-start;
}
.right{
    align-self: flex-end;
    text-align: right;

    justify-content: flex-end;
    align-items: flex-end;
}
